.btn-iconX {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: auto;/* Color rojo de Bootstrap */
    border-radius: 50%;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.btn-iconX:hover {
    background-color: #ec3a4c; /* Rojo más oscuro en hover */
}
.file-containerX {
    display: flex;
    align-items: center;
}